/* @define-mixin atSmall {
  @media (max-width: 600px) {
    @mixin-content;
  }
} */

@define-mixin atMedium {
  @media (min-width: 632px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 932px) {
    @mixin-content;
  }
}

@define-mixin atXLarge {
  @media (min-width: 1232px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}