.large-hero {
    /* border-bottom: 10px solid $mainOrange; */
    position: relative;
    background: rgba(213, 255, 254, 1);
  
    &__image {
      display: block;
    }
  
    h1 {
      
      background: linear-gradient(to right, rgb(244, 107, 69), rgb(238, 168, 73));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      padding-top: 6rem;
      font-size: 2.9rem;
      
      margin: 0;
      
      
    }
  
  }