nav {
    text-align: center;
  
    ul {
      padding: 0;
    }
    
    li {
    list-style: none;
    display: inline-block;
    
    }
    
  
  
    a {
      color: #FFF;
      font-weight: 300;
      text-decoration: none;
      display: block;
      padding: 0 8px;
      font-size: .8rem;
      
      
    }
  }