.site-header {
    display: none;
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, rgb(244, 107, 69, 0.8), rgb(238, 168, 73, 0.5));
    
    &--dark {
      background: linear-gradient(to right, rgba(244, 107, 69), rgba(238, 168, 73));
      display: block;
      
    }
  }

  .section__heading {
    color: #ffffff;
    background: linear-gradient(to right, rgb(244, 107, 69), rgb(238, 168, 73));
    text-align: center;
    padding: 1em;
    margin: 0 0 3rem 0;
    /* border-top: 12px solid $mainOrange; */
}